@import "../../../../utils/variables.scss";
@import "../../../../utils/mixins.scss";
.admin-filters{
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            padding: 0;
            width: fit-content;
            border: none;
            svg{
                width: 48px;
                height: 48px;
            }
        }
    }
    form{
        padding: 10px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        height: 300px;
        div{
            margin: 20px 0;
        }
    }
        position: sticky;
        top: 0;
        width: 304px;
        height: 100vh;
        overflow-y: scroll;
    background-color: map-get($brands-primary , "secondary-white");
    &.sidebar{
        width: 350px;
    }
    h4 {
        padding-left: 10px;
        font-size: map-get($fonts-sizes-desktop, "h4" );
    }
}

.sidebar{
    .search{
        position: relative;
        left: 0;
        width: calc(100% - 48px);
        margin: 32px 24px 8px;
    }
    .select-container{
        width: calc(100% - 48px);
        margin: 8px 24px;
        select{
            width: 100%;
        }
        &:last-of-type{
            margin-bottom: 32px;
        }
    }
    h4{
        padding-left: 24px;
    }
    button{
        background-color: map-get($brands-primary , "secondary-white");
        cursor: pointer;
        font-size: 16px;
        text-align: start;
        width: 100%;
        padding: 32px 24px;
        display: flex;
        flex-direction: row;
        border: none;
        border-bottom: solid 1px;
        img{
            margin-right: 8px;
            object-fit: cover;
            width: 80px;
            height: 80px;
        }
    }
}