// Create colors variables
$brands-primary:(
    "black": #1D1D1D,
    "green": #DCF2B0,
    "red" : #F2D8B0,
    "white": #FFFFFF,
    "secondary-white": #F9F9F9,
    "dark-grey": #A9A9A9,
    "grey":#F1F1F1,
    "bubble-grey": #EFEFEF
);



// Create breakpoints variables
$breakpoints:(
  "phone-small": 320px,
  "phone-grand": 440px,
  "tablet-small":640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "filter-critic": 1150px,
  "desktop": 1440px,
  "desktop-wide": 1920px,
  "matailledecranpourinfocarjefaischier": 1360px
);

// Create fonts sizes variables
$fonts-sizes-desktop:(
  "h1": 96px,
  "h1-line": 112px,

  "p": 24px,
  "p-condition-line": 42px,

  "h2-conditions" : 40px,
  "h3-conditions" : 32px,
  "h4": 24px,
  "h4-line": 26px,
  "article-card": 32px,
  "article-card-line": 37.5px,

  "login-title": 40px,
  "login-title-line": 48px,

  "menu": 20px,
  "menu-line": 24px,

  "nav": 24px,
  "nav-line": 28px,
);

$fonts-sizes-mobile:(
  "h1": 44px,
  "h1-line": 48px,

  "h2" : 40px,
  "h3" : 32px,

  "article-card": 20px,
  "article-card-line": 23.44px,


  "p": 16px,
  
  "login-title": 24px,
  "login-title-line": 32px,

  "menu": 16px,
  "menu-line": 20px,




  "h2-conditions" : 32px,
  "h3-conditions" : 24px,

  "p-condition-line": 32px,

);