// Create colors variables
$brands-primary:(
    "black": #1D1D1D,
    "green": #DCF2B0,
    "white": #FFFFFF,
    "secondary-white": #F9F9F9
);



// Create breakpoints variables
$breakpoints:(
  "phone-small": 320px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1440px,
  "desktop-wide": 1920px,
);

// Create fonts sizes variables
$fonts-sizes-desktop:(
  "h1": 96px,
  "h1-line": 112px,

  "p": 24px,
  "p-condition-line": 42px,

  "h2-conditions" : 40px,
  "h3-conditions" : 32px,

  "article-card": 32px,
  "article-card-line": 37.5px,

  "login-title": 40px,
  "login-title-line": 48px,

  "menu": 20px,
  "menu-line": 24px,

  "nav": 24px,
  "nav-line": 28px,
);

$fonts-sizes-mobile:(
  "h1": 48px,
  "h1-line": 48px,

  "article-card": 20px,
  "article-card-line": 23.44px,
  
  "login-title": 24px,
  "login-title-line": 32px,

  "menu": 16px,
  "menu-line": 20px
);