@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";
.Bloc{
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    @include mq("matailledecranpourinfocarjefaischier",max){
        flex-direction: column-reverse;
        margin-top: 40px;

    }
    .contenu{
        width: 50%;// calc(50% - 200px);
        hr{
            width: 100%;
        }
        @include mq("matailledecranpourinfocarjefaischier",max){
            width: 100%;
        }
        .title{
            font-size: 40px;
            line-height: 48px;
            color: map-get($brands-primary, "black");

            @include mq("tablet", max){
                margin-top: 40px;
                font-size: 24px;
                line-height: 24px;
            }
        }


        @include mq("tablet-small", max){
            width: 100% ;
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            margin-top: 24px ;
            font-size: 20px;
            line-height: 32px;
        }
    }
    .information{
        position: sticky;
        top: 0;
        display: flex;
        margin-left: 24px;
        @include mq("desktop", max){
            margin-left: 56px;
        }
        @include mq("matailledecranpourinfocarjefaischier",max){
            margin: 40px 0;
            width: 100%;
            min-height: 64px;
            p{
                width: 568px;
            }
        }

        @include mq("tablet", max){
            svg{
                //margin-top: 16px;
                width: 32px;
                height: 32px;
            }
            p{
                width: calc(100% - 88px);
                font-size: 16px;
            }
        }
    }

}