@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.filters{
    margin-top: 20px;
    height: 45px;
    @include mq("filter-critic", max){
        height: 150px;
    }

    .search{
        @include mq("filter-critic", max){
            width: 100%;
            max-width: 90%;
        }
    }

    .selects{
        position: absolute;
        display: flex;
        right: 5%;
        select  {
            @include mq("filter-critic", max){
                width: 100%;
                margin: 0;
            }
        }
        
        @include mq("filter-critic", max){

            position: relative;
            flex-direction: column;
            width: 90%;
            margin: 0;
            top: 51px;
            left: 5%;

        }
    }
}

.select-container{
    margin-bottom: 8px;
    @include mq("filter-critic", min){
        margin-left: 16px;
    }

}