@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.mes-commandes{
    padding: 0 5%;
    width: 100%;
    h1{

        margin: 160px 0 152px 0;
        @include mq("tablet", max){
            margin: 32px 0 64px 0;
            text-align: center;
        }
    }
    p{
        font-size: map-get($fonts-sizes-desktop , "p" );
        @include mq("tablet", max){
            font-size: 16px;

        }
    }
    article{
        width: calc(100% + 16px) ;
        @include mq("tablet", max){
            width: 100%;
        }
        margin: 0;
        .title  {

            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &.first{
                position: sticky;
                background-color: map-get($brands-primary , "white" );
                @include mq("tablet", max){
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            h2{
                font-size: map-get($fonts-sizes-desktop , "h2-conditions" );
                @include mq("tablet", max){
                    font-size: 16px;
                }
            }
        }
        ul{
            width: 90vw;
            li{
                width: 100%;
                display: flex;
                margin-top: 36px;
                &:last-of-type{
                    margin-bottom: 36px;
                }
                .infos{
                    width: 100%;
                    .title{
                        margin-bottom: 45px;
                        @include mq("tablet", max){
                            margin-bottom: 8px;

                        }
                        display: flex;
                        justify-content: space-between;
                    }
                }
                h3{
                    font-size: 24px;
                    @include mq("tablet", max){
                        font-size: 16px;
                    }
                }
                picture{
                    width: 200px;
                    height: 200px;
                    @include mq("tablet", max){
                        width: 64px;
                        height: 64px;
                    }
                    margin-right: 24px;
                    @include mq("tablet", max){
                        margin-right: 8px;
                    }
                    img{
                        object-fit: cover;
                        width: 200px;
                        height: 200px;
                        @include mq("tablet", max){
                            width: 64px;
                            height: 64px;
                        }
                    }
                }
            }
        }
        .frais_de_port,
        .total_HT,
        .total_TTC,
        .etat{
            display: flex;
            justify-content: space-between;
            @include mq("tablet", max){
                &:last-of-type{
                    flex-direction: column;
                    p:first-of-type{
                        margin-bottom: 8px;
                    }
                    margin-bottom: 8px;
                }
            }
        }
        .frais_de_port{
            margin-bottom: 36px;
            @include mq("tablet", max){
                margin-bottom: 8px;
            }

        }
        .total_HT{
            margin-bottom: 16px;
            @include mq("tablet", max){
                margin-bottom: 8px;
            }

        }
        .total_TTC{
            margin-bottom: 36px;
            @include mq("tablet", max){
                margin-bottom: 8px;
            }

        }
        hr{
            width: 100%;
            margin: 56px 0;
            @include mq("tablet", max){
                margin: 24px 0;
            }

        }
    }
}


