@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.resetpassword{

    display: flex;
    flex-direction: row-reverse;
    @include mq("tablet", max){
        flex-direction: column;
    }

    aside{
        width: 50%;
        @include mq("tablet", max){
            width: 100%;
        }

        &:last-of-type{
            background-color: map-get($brands-primary , "secondary-white" );
            padding: 0 64px 88px 64px ;
            @include mq("tablet", max){
                padding: 0 24px 88px 24px ;
            }
        }
        &:first-of-type{
            padding-top: 88px;
            padding-bottom: 88px;
            position: sticky;
            top: 0;
            @include mq("tablet", max){
                position:static;
            }
        }
        button.button,input.ClassInput{
            margin-left: calc((100% - 380px) / 2);
            width: 380px;
            margin-bottom: 32px;
            @include mq("tablet", max){
                width: calc(100% - 48px);
                margin-left: 24px;
            }
        }
        h1{
            text-align: center;
            margin: auto;
            margin-bottom: 100px;
            width: 380px;
            font-size: 40px;
            line-height: 48px;
            font-size: 40px;
            @include mq("tablet", max){

            }
        }
        h2{
            font-size: 32px;
            margin-top: 88px;
            line-height: 48px;
        }
        p{
            font-size: 24px;
            line-height: 28px;
            margin-top: 16px;
            &.asterisk{
                font-size: 16px;
            
            }
        }
    }
}