@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";
header{
    position: sticky;
    transition: .5s;
    top: -125px;
    z-index: 4;
    background-color: map-get( $brands-primary , "secondary-white" );
    nav{
        width: 90%;
        margin: 0 auto;
        height: 125px;
        font-family: "Roboto Bold", Arial, Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: map-get($fonts-sizes-desktop, "nav" );

        .header-stodac{
            position: absolute;
            left: 5%;
        }

        ul{
            &:first-of-type{
                width: 480px;
            }
            &:last-of-type{
                position: absolute;
                right: 5%;
                width: 120px;
            }
            display: flex;
            justify-content: space-between;
            a,li {
                position: relative;
            }
        }
        .nav-link::before{
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 10px;
            z-index: 0;
            background-color: map-get($brands-primary , "green");
            bottom: -10px;  
            transition: clip-path .3s cubic-bezier(0.77, 0, 0.175, 1);
            clip-path: inset(0% 100% 0% 0%);
          }
          .nav-link:hover{
            &::before{
                transition: clip-path .3s cubic-bezier(0.77, 0, 0.175, 1);
                clip-path: inset(0% 0% 0% 0%);
            }
        }

        @include mq("tablet-wide", max) {
            .links{
                display: none;
            }
            ul{
                &:last-of-type{
                    width: 112px;
                }
            }
        }
    }
}