@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";
.information{
    display: flex;
    align-items: center;
    width: 504px;
    height: fit-content;
    background: map-get($brands-primary, "grey");
    svg{
        margin-left: 16px;
        // margin-top: 16px;
    }
    p{
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 24px;
        width: 408px;
        font-size: 24px;
        height: fit-content;

        @include mq("tablet", max){
            font-size: 16px;
        }
        color: map-get($brands-primary, "black");
    }

    &.small{
        background-color: transparent;
        width: 32px;
        display: block;
        position: absolute;
        right: calc(((100% - 700px) / 2) + 110px);
        top: 328px;
        svg{
            width: 32px;
            margin: 0;
        }
        p{
            display: none;
            padding: 16px;
            position: absolute;
            background: map-get($brands-primary, "grey");
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 16px;
        }
        &:hover{
            p{
                display: block;
            }
        }
    }
}