@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";
.menu{
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: calc(100vh - 125px);
    padding: 5%;
    background-color: map-get($brands-primary , "secondary-white");
    .links{
        font-family: "Roboto Bold", Arial, Arial, Helvetica, sans-serif;
        font-size: 24px;
        li{
            opacity: 0;
            margin-bottom: 40px
        }
    }
}