@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.select{
    position: relative;



    .pnt-relais-container{
        height: 550px;
        @include mq("tablet", max){
            height: 650px;
        }

    }


    .modifier{
        cursor: pointer;
        position: absolute;
        display: block;
        text-decoration: underline;
        transform: translateY(-52px);
        right: 0;
        @include mq("tablet", min){
            transform: translateY(-57px);
        
        }
    }
}


.modePayement{
    .selecteur{
        margin-top: 40px;

    }
}
.visible{
    width: 100%;
    p{
        margin-top: 24px;
        font-size: 24px;
        color: map-get($brands-primary, "black");
    }

    .desc{
        margin: 40px 0;
        font-size: 20px;
        line-height: 24px;
    }
    @include mq("tablet", max){
        // width: calc(100% - 136px);
        width: 100%;
        .text{
            margin-left: calc(100% - 202px);
        }
    }
    @include mq("tablet-small", max){
        // width: calc(100% - 40px);
        width: 100%;
        .text{
            margin-left: calc(100% - 112px);
        }
    }

}
.invisible{
    display: none;
}