@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

section.acordeon.acordeon{
    margin: 0;
    padding: 0;
    display: block;
    .title{
        cursor: pointer;
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 20px;
            font-weight: 100;
        }
    }

    hr{
        margin: 0;
    }
    .content{
        p{
            margin-bottom: 24px;
        }
    }
    article{
        display: flex;
        justify-content: space-between;
        .left{
            flex-basis: 200px
        }
        .right{
            flex-grow: 1;
        }
        margin-bottom: 16px;
    }
}