@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

button{

    background-color: transparent ;
    border: none;
    cursor: pointer;

    &.quantity{

    }
    
    &.text{
        line-height: 28px;
        width: 280px;
        padding: 12px 80px;
        border-radius: 80px;
    }

    &.green{
        background-color: map-get($brands-primary, "green");
    }
    &.black{
        background-color: map-get($brands-primary, "black");
        color: map-get($brands-primary, "white");
        
    }
}
.qty-select{
    display: flex;
    justify-content: space-between;
    border: solid 1px map-get($brands-primary , "black" );
    line-height: 28px;
    padding: 12px 0;
    border-radius: 80px;
    button{
        margin: 0 20px;
    }
}
