@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.button{

    background-color: transparent ;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: map-get($brands-primary, "black");
    &.text{
        font-size: 16px;
        line-height: 28px;
        width: 100%;
        padding: 12px 0;
        border-radius: 80px;
        &:hover {
            span{
                animation: rollUp 500ms ease-out forwards;
            }
        }
        span{
            display: block;

        }
    }

    &.green{
        background-color: map-get($brands-primary, "green");
    }
    &.black{
        background-color: map-get($brands-primary, "black");
        color: map-get($brands-primary, "white");
        
    }
}
.selecteur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 112px;
    width: 100%;
    @include mq("tablet", max){
        height: 80px;
    }
    background: map-get($brands-primary, "grey");
    span{   
        margin-left: 24px;
        font-size: 32px;
        @include mq("tablet", max){
            font-size: 24px;
            margin-left: 16px;

        }
    }
    svg{
        width: 48px;
        height: 48px;
        margin-right: 32px;
        @include mq("tablet", max){
            width: 24px;
            height: 24px;
            margin-right: 16px;
        }
    }
}
.qty-select,.page-select{
    cursor: auto;
    display: flex;
    justify-content: space-between;
    border: solid 1px map-get($brands-primary , "black" );
    line-height: 28px;
    padding: 12px 0;
    width: 100%;
    
    border-radius: 80px;
    button, div{
        color: map-get($brands-primary , "black" );
        position: relative;
        border: none;
        background-color: transparent;
        margin: 0 20px;
        width: 28px;
        border-radius: 50%;
        transition: background-color 300ms;
        cursor: pointer;
        &:hover{
            color: map-get($brands-primary, "white");
            background-color: map-get($brands-primary, "black");
            transition: background-color 300ms;

            svg path {
                fill: map-get($brands-primary, "white");
            }
        }
        svg{
            position: absolute;
            top: 50%;
            left: 38%;
            transform: translate(-20%,-50%);
        }
    }
}
@keyframes rollUp{
    0% {
        transform: translateY(0px) rotate(0);
    }
    50% {
        transform: translateY(-150%) rotate(9deg);
    }
    50.1%{
        transform: translateY(150%) rotate(-9deg);
    }
    100% {
        transform: translateY(0px) rotate(0);
    }
}

.radio{
    height: fit-content;
    input{
        display: none;
    }
    label  {
        background-color: map-get($brands-primary , "grey" );
        padding: 8px 12px;
        border-radius: 19px;
    }
    input[type="radio"]:checked+label{ background-color: #d9D9D9; } 


}