@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

input:not([type="checkbox"]){
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 32px;
    width: 100%;
    border: 1px solid map-get($brands-primary,"black");
}
input[type="checkbox"]{
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 0;
    border : none;
    background-color: #D9D9D9;
    &:checked{
        background-color: map-get($brands-primary, "green");
    }
}
.select-container{
    position: relative;
    svg{
        position: absolute;
        right: 11px;
    }
}
select{
    border: solid map-get($brands-primary,"black") 1px;
    color: map-get($brands-primary,"black");
    -moz-appearance:none; 
    -webkit-appearance:none;
    appearance:none;
    font-size: 16px;
    width: 280px;
    padding: 12px 24px;
    border-radius: 24px;
}